<h1>Local Developer Meetups<br />  
<%= if current_user.try(:admin?) then link_to raw("<i class='fa fa-plus-square-o'></i>"), new_meetup_path end %>
</h1>
<div class="container">
    <% @meetups.each do |meetup| %>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
          <li class='list-group-item'>
            <h4 class='list-group-item-heading'>
              <%= meetup.name %>
              <%= if DateTime.now.utc - 2.days < meetup.created_at then 
              raw("<span class='label label-default label-as-badge'>Newly Added</span>")
               end %>
              <div class="pull-right">
              <%= if current_user.try(:admin?) then link_to raw("<i class='fa fa-edit'></i>"), edit_meetup_path(meetup) end %>
              <%= if current_user.try(:admin?) then link_to raw("<i class='fa fa-remove'></i>"), meetup, method: :delete, data: { confirm: 'Are you sure?' } end %>
              </div>
            </h4>
            <p class='list-group-item-text card-description'>
              <%= meetup.description %>
            </p>
            <p class='list-group-item-text'>
              <a target='_blank' href='<%= meetup.websiteurl %>'><%= meetup.websitename %></a>
            </p>
            <% if !meetup.twitter.blank? then %>
              <p class='list-group-item-text'>
                <a target='_blank' href='http://twitter.com/<%= meetup.twitter %>'>@<%= meetup.twitter %> <i class='fa fa-twitter'></i></a>
              </p>
            <% end %>
          </li>
        </div>
      </div>
    <% end %>
</div>