<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coworking.name %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @coworking.twitter %>
</p>

<p>
  <strong>Websiteurl:</strong>
  <%= @coworking.websiteurl %>
</p>

<p>
  <strong>Websitename:</strong>
  <%= @coworking.websitename %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coworking.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @coworking.location %>
</p>

<%= link_to 'Edit', edit_coworking_path(@coworking) %> |
<%= link_to 'Back', coworkings_path %>
