<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @company.twitter %>
</p>

<p>
  <strong>Websiteurl:</strong>
  <%= @company.websiteurl %>
</p>

<p>
  <strong>Websitename:</strong>
  <%= @company.websitename %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>Startup:</strong>
  <%= @company.startup %>
</p>

<p>
  <strong>Num devs:</strong>
  <%= @company.num_devs %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
