<h1>Local Developer Resources
<%= if current_user.try(:admin?) then link_to raw("<i class='fa fa-plus-square-o'></i>"), new_resource_path end %>
</h1>
<div class="container">
    <% @resources.each do |resource| %>
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
          <li class='list-group-item'>
            <h4 class='list-group-item-heading'>
              <%= resource.name %>
              <%= if DateTime.now.utc - 2.days < resource.created_at then 
              raw("<span class='label label-default label-as-badge'>Newly Added</span>")
               end %>
              <div class="pull-right">
              <%= if current_user.try(:admin?) then link_to raw("<i class='fa fa-edit'></i>"), edit_resource_path(resource) end %>
              <%= if current_user.try(:admin?) then link_to raw("<i class='fa fa-remove'></i>"), resource, method: :delete, data: { confirm: 'Are you sure?' } end %>
              </div>
            </h4>
            <p class='list-group-item-text card-description'>
              <%= resource.description %>
            </p>
            <p class='list-group-item-text'>
              <a target='_blank' href='<%= resource.websiteurl %>'><%= resource.websitename %></a>
            </p>
            <% if !resource.twitter.empty? then %>
              <p class='list-group-item-text'>
                <a target='_blank' href='http://twitter.com/<%= resource.twitter %>'>@<%= resource.twitter %> <i class='fa fa-twitter'></i></a>
              </p>
            <% end %>
          </li>
        </div>
      </div>
    <% end %>
</div>



